.App {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.App::-webkit-scrollbar {
    width: 0px;
}

.loading {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-top: 3px solid white;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading {
    50% {
        transform: rotate(90deg);
        background-color: rgb(121, 0, 207);
    }
    100% {
        transform: rotate(360deg);
    }
}